/* TODO: prefers-reduced-motion: no-preference */
nav h1 {
  margin: 0;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}
.logo {
  position: absolute;
  padding: 1rem;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}
.logo img {
  transition: transform 0.2s ease-in-out;
  position: relative;
}
.logo::after {
  content: "Pause";
  position: absolute;
  bottom: -2rem;
  left: 50%;
  translate: -50% -1rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  text-align: center;
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, translate 0.2s ease-in-out;
}
.logo:hover::after {
  opacity: 1;
  translate: -50% -0.5rem;
}
.logo:hover img {
  transform: scale(1.1);
}
.status {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}
.status > p {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.5rem;
}
.offscreen-canvas {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
.wave-number {
  position: absolute;
  padding: 0.25rem 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 0 4px #555;
}
.wave-number span {
  letter-spacing: 0.75ch;
  margin-inline-end: 0.5rem;
}
.towers {
  position: absolute;
  left: 1rem;
  top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 0;
}
.towers > div {
  padding: 0.25rem;
  background-color: #333;
  border: 4px solid #333;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
}
.towers > div.active {
  border-color: blue;
}
.towers > div.cannot-purchase {
  filter: grayscale(0.5);
}
.towers > div > img {
  width: 100px;
}
.towers > div > span {
  font-size: 1.5rem;
  position: absolute;
  display: block;
  bottom: 0.25rem;
  right: 0.25rem;
  line-height: 1;
}
.settings {
  z-index: 20;
}
.settings-trigger {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.settings > div {
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  padding: 1rem;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.25rem;
}
.settings > div > :first-child {
  margin: 0;
}
.settings .field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.settings > div > div:last-child {
  display: flex;
  gap: 0.25rem;
  justify-content: flex-end;
}
