/* TODO: prefers-reduced-motion: no-preference */
nav h1 {
  margin: 0;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 1rem;
  gap: 0.5rem;
}
.logo {
  position: absolute;
  padding: 1rem;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}
.logo img {
  transition: transform 0.2s ease-in-out;
  position: relative;
}
.logo::after {
  content: "Pause";
  position: absolute;
  bottom: -2rem;
  left: 50%;
  translate: -50% -1rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  text-align: center;
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, translate 0.2s ease-in-out;
}
.logo:hover::after {
  opacity: 1;
  translate: -50% -0.5rem;
}
.logo:hover img {
  transform: scale(1.1);
}
.status {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}
.status > p {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.5rem;
}
.offscreen-canvas {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
.wave-number {
  position: absolute;
  padding: 0.25rem 1.5rem;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  animation: flash 2s forwards ease-in-out;
  animation-delay: 1.5s;
  font-size: 5rem;
  color: black;
  text-shadow: 0.05em 0.05em red;
  margin: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  opacity: 0;
  pointer-events: none;
}
.wave-number span {
  letter-spacing: 0.75ch;
  margin-inline-end: 0.5rem;
}
@keyframes flash {
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
}
.towers {
  position: absolute;
  left: 1rem;
  top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 0;
}
.towers > div {
  padding: 0.25rem;
  background-color: #333;
  border: 4px solid #333;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
}
.towers > div.active {
  border-color: blue;
}
.towers > div.cannot-purchase {
  filter: grayscale(0.5);
}
.towers > div > img {
  width: 100px;
}
.towers > div > span {
  font-size: 1.5rem;
  position: absolute;
  display: block;
  bottom: 0.25rem;
  right: 0.25rem;
  line-height: 1;
}
.settings {
  z-index: 20;
}
.settings-trigger {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.settings > div {
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  padding: 1rem;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.25rem;
  animation: enter 300ms forwards;
}
@keyframes enter {
  from {
    translate: 0 -1rem;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}
.settings > div > :first-child {
  margin: 0;
}
.settings .field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.settings > div > div:last-child {
  display: flex;
  gap: 0.25rem;
  justify-content: flex-end;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: var(--yellow);
  outline: none;
  /* opacity: 0.7; */
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 0.5rem;
  box-shadow: 0.1em 0.1em;
  color: black;
  border: 3px solid black;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 35px;
  background: var(--yellow);
  border: 3px solid black;
  border-radius: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 35px;
  background: var(--yellow);
  border: 3px solid black;
  border-radius: 0.5rem;
}
.main-canvas {
  border-radius: 0.5rem;
  border: 4px solid var(--yellow);
  box-shadow: 0.5em 0.5em black;
}

.start::before,
.start::after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(#1e1e2f, #3b2f63);
  z-index: 10;
  transition: translate 300ms;
}
.start::after {
  left: 50%;
}
.start div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  z-index: 20;
  transition: opacity 300ms;
  min-width: 300px;
}
.start button {
  width: 100%;
}
.start.leaving div {
  opacity: 0;
}
.start.leaving::before {
  translate: -100% 0;
}
.start.leaving::after {
  translate: 100% 0;
}
.start {
  background-color: transparent;
}
